@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    background-image: url(../images/sunrise-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Staatliches',
    cursive;
}

.menu {
    background: #39036291 !important;
    padding: 15px;
    font-size: 20px;
}

.nav-link {
    color: #ffff !important;
}

.nav-tabs {
    border: none !important;
}

.nav-link.active {
    background-color: #d6618a36 !important;
    border: none !important;
    color: #D6618A !important;
    border-radius: 5px !important;
}
